@use '../utilities/breakpoints.scss' as brp;

.main-footer {
  width: 100%;
  background: rgba(255, 187, 0, 0.363);
  background: linear-gradient(to right, #ff5f6cb0, #ffc371);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;

  li {
    padding: 0.8rem;
  }

  a {
    border-bottom: 2px solid transparent;
    transition: all 100ms ease-in;

    &:hover,
    &:focus {
      color: var(--border);
      border-bottom: 2px solid;
    }
  }
}

.foot {
  margin: 0 auto;
  width: clamp(14rem, 95vw, 85rem);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;

  @include brp.breakpoint-down(small) {
    padding-left: clamp(0.75rem, 0.7rem + 0.34vw, 1rem);
    padding-right: clamp(0.75rem, 0.7rem + 0.34vw, 1rem);
  }

  @include brp.breakpoint-up(large) {
    flex: none;
  }

  &__50 {
    flex: 46.5%;

    @include brp.breakpoint-up(medium) {
      @media (min-width: 735px) {
        flex: none;
      }
    }
  }
}
