@use '../utilities/breakpoints.scss' as brp;

.pages {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;

  &__nav {
    display: flex;
    gap: 0.3em;
  }

  &__page {
    transition: all 0.1s ease-in-out;
    &:hover {
      opacity: .9;
    }
    a {
      padding: 0.5rem 1rem;
      font-weight: 700;
      background: var(--border);
      border-radius: 3px;
      cursor: pointer;
    }
  }

  @include brp.breakpoint-up(large) {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -1.75rem;
  }
}

.current-page {
  transform: scale(1.14)
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.8;
}