@use '../utilities/breakpoints.scss' as brp;

.about {
  margin-top: 2rem;

  h1 {
    font-weight: normal;
    text-align: center;
  }

  &__paragraphIntro {
    font-size: 1rem;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__img {
    img {
      width: 100%;
      margin-bottom: 1.5rem;

      @include brp.breakpoint-up(medium) {
        height: 23rem;
        object-fit: cover;
        object-position: 50% 40%;
      }

      @include brp.breakpoint-up(large) {
        height: 31rem;
      }

      @include brp.breakpoint-up(prexl) {
        height: 33rem;
      }
    }
  }

  &__description {
    max-width: 650px;
    // text-align: center;
    margin: 0 auto;

    h2 {
      font-size: 2rem;
      text-align: center;
      font-weight: normal;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.09rem;
      letter-spacing: 0.2px;
      line-height: 1.5;
      margin-bottom: 2rem;
    }

    &__icons {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 2rem;

      i {
        color: var(--border);
        margin-left: 0;
      }
    }
  }
}
