@use '../utilities/breakpoints.scss' as brp;

.article__wrapper {
  padding-top: 1.225rem;

  @media (min-width: 809px) {
    display: flex;
    justify-content: space-between;
    gap: 1.9rem;
  }

  .article__img {
    @media (min-width: 809px) {
      flex: 1;
    }

    @include brp.breakpoint-up(prexl) {
      flex: 1;
    }

    img {
      min-height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .article__content {
    flex: 1;

    @media (max-width: 808px) {
      margin-top: 1rem;
    }

    @include brp.breakpoint-up(medium) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .ar__author {
        font-weight: 900;
        font-size: 1rem;

        img {
          width: 60px;
          height: 60px;
        }
      }
    }

    h1 {
      margin-bottom: 1rem;
      line-height: 1.2;
    }

    p {
      text-align: left;
    }

    .btn__rm {
      margin-top: 2rem;
      width: 100%;
    }
  }
}

.linebreak {
  margin: 2rem 0;
}

// TRENDING

.trending {
  margin-bottom: 5rem;

  h2 {
    margin-bottom: 1rem;
  }

  .articles__wrapper {
    article {
      margin-bottom: 2rem;
    }

    @include brp.breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      article {
        flex: 1 1 31%;
        margin-bottom: 0;
      }
    }

    @include brp.breakpoint-up(large) {
      gap: 3rem;

      article {
        flex: 1 1 28.5%;
        margin-bottom: 0;
      }
    }

    .trending-article {
      border-radius: 5px;
      overflow: hidden;

      div:not(:first-child) {
        padding: 0 1rem 1rem 1rem;
      }

      &__image {
        overflow: hidden;
        height: 25vh;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &__title {
        @include brp.breakpoint-up(medium) {
          h3 {
            font-size: clamp(.925rem, 0.925rem + 1.8vw, 1.1rem);
          }
          height: 7rem;
        }

        @include brp.breakpoint-up(large) {
          h3 {
            font-size: clamp(1rem, 1rem + 1.8vw, 1.2rem);
          }
          height: 5.4rem;
        }

        h3 {
          margin-top: 1rem;
          font-weight: 900;
        }
      }

      &__body {
        display: flex;
        justify-content: space-between;
      }

      span {
        color: var(--border);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
          Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
      }
    }
  }
}

// LATEST

.ar-flex-wrap {
  article + article {
    margin-top: 3rem;
  }

  @include brp.breakpoint-up(large) {
    display: flex;
    gap: 2rem;
  }

  @include brp.breakpoint-up(prexl) {
    gap: 3.5rem;
  }

  @include brp.breakpoint-up(xlarge) {
    gap: 5rem;
  }

  .flex__1 {
    @include brp.breakpoint-up(large) {
      flex: 3;
    }
  }

  .flex__2 {
    @include brp.breakpoint-up(large) {
      flex: 1;
    }

    span {
      background: var(--heading-c);
    }
  }
}

.latest {
  overflow: hidden;
  border-radius: 5px;

  &__img {
    @include brp.breakpoint-up(large) {
    }

    @include brp.breakpoint-up(medium) {
      flex: 1.5;
      height: 21rem;
    }

    @include brp.breakpoint-up(large) {
      flex: 1.2;
      min-height: 90%;
    }

    @include brp.breakpoint-up(xlarge) {
      flex: 1;
      min-height: 100%;
    }

    img {
      @include brp.breakpoint-up(medium) {
        min-height: 100%;
        object-fit: contain;
      }

      @include brp.breakpoint-up(large) {
        min-height: 100%;
        object-fit: cover;
      }
    }
  }

  .article__wrap {
    padding: 1.625rem;

    p {
      padding: 11px 0px 4px 0px;
    }

    button {
      margin-top: 1rem;
    }

    .ar__footer {
      margin-top: 1rem;
    }

    .ar__author {
      padding: 0.6rem;

      .author__img {
        width: 45px;
        height: 45px;
        margin-right: 10px;
      }
    }
    @include brp.breakpoint-up(medium) {
      flex: 1.6;
    }
  }
  @include brp.breakpoint-up(medium) {
    display: flex;
  }
}
