@use '../utilities/breakpoints.scss' as brp;

// CATEGORIES

.navcat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  color: #fff;
  font-weight: 900;

  li {
    flex: 1 1 47%;
    height: 100px;
    background-color: rgba(51, 51, 51, 0.616);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 200ms;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    @include brp.breakpoint-up(medium) {
      flex: 1 1 30%;
    }

    @include brp.breakpoint-up(large) {
      flex: 1 1 15%;
    }

    &:hover {
      transform: scale(1.1);
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      cursor: pointer;
    }
  }

  &__1 {
    background-image: url('/src/assets/images/nav2/ebike.jpg');
  }

  &__2 {
    background-image: url('/src/assets/images/nav2/clotching.webp');
  }

  &__3 {
    background-image: url('/src/assets/images/nav2/accessories.webp');
  }

  &__4 {
    background-image: url('/src/assets/images/nav2/tipsandtricks.webp');
  }

  &__5 {
    background-image: url('/src/assets/images/nav2/whyebike.jpg');
  }

  &__6 {
    background-image: url('/src/assets/images/nav2/ourblog.webp');
  }
}

// PRODUCTS

.products {
  font-size: 1.1rem;

  pre {
    font-size: 1.3rem;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  @include brp.breakpoint-down(small) {
  }

  @include brp.breakpoint-up(medium) {
    display: flex;
    gap: 1rem;
    // background: orange;
  }

  @include brp.breakpoint-up(large) {
    gap: 2rem;
  }

  .bike__img {
    @include brp.breakpoint-up(large) {
      padding: 0.5rem;
    }

    img {
      transition: all 0.1s ease-in-out;
    }
  }

  .product-1 {
    overflow-y: visible;
    transition: all 0.1s ease-in-out;
    // margin-right: 1rem;
    cursor: pointer;
    padding: 1rem;
    outline: 2px none rgb(94, 79, 79);
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    @include brp.breakpoint-down(small) {
      flex: 40%;
    }

    @include brp.breakpoint-up(medium) {
      flex: 0 1 23%;
    }

    @include brp.breakpoint-up(large) {
      flex: 1;
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    i {
      font-size: 1.35rem;
      color: var(--border);
    }

    &:hover img {
      transform: translateY(-1.5rem);
    }
  }

  .product-hide {
    display: none;

    @include brp.breakpoint-up(large) {
      display: block;
    }
  }
}
