@use '../utilities/breakpoints.scss' as brp;

body {
    background: var(--main-c);
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

h1 {
    font-size: clamp(1.5rem, 1.5rem + 2vw, 3.5rem);
}

h2 {
    font-size: clamp(1.5rem, 1.4rem + 2vw, 1.45rem);
    font-weight: 700;
}

h3 {
    font-size: clamp(1rem, 1rem + 1.8vw, 1.2rem);
    font-weight: 600;
}

h4 {
    font-size: clamp(1rem, 1rem + 0.1vw, 1.1rem);
}

h1,
h2,
h3,
h4 {
    color: var(--heading-c);
}

p {
    color: var(--letter-c);
    font-size: clamp(0.95rem, 0.95rem + 0.6vw, 1.05rem);
}

time {
    color: var(--letter-c);
}

header {
    a {
        color: var(--heading-c);
        font-size: 0.88rem;
        font-weight: 600;
    }
}

header,
nav {
    background: var(--navbar);
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.redC {
    color: var(--border);
}

.yellowC {
    color: var(--yellowColor);
}
